.toy-filter {
    width: 500px;
    margin: auto;
    .sort-txt-btn {
        margin: auto;
        margin-bottom: rem(10px);
        width: rem(150px);
    }
}

.toy-app {

    .add-toy-btn {
        margin: auto;
        margin-bottom: rem(10px);
        width: rem(150px);
    }
    .m-2 {
        margin: rem(10px);
    }
}